---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    k8s.kuboard.cn/displayName: nginx+ingress
    k8s.kuboard.cn/workload: web-zebra-all
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: 'true'
  generation: 1
  labels:
    k8s.kuboard.cn/layer: web
    k8s.kuboard.cn/name: web-zebra-all
  name: web-zebra-all
  namespace: young-sit
spec:
  rules:
    - host: sit.iptables.cn
      http:
        paths:
          - backend:
              serviceName: web-zebra-all
              servicePort: 80
            path: /
      ###  servicePort 全部使用num 不应该使用别名
        {% for SVC in SVC_LIST %}
          - backend:
              serviceName: {{ SVC }}
              servicePort: 80
            path: /{{ SVC }}/
        {% endfor %}

  tls:
    - hosts:
        - sit.iptables.cn
      secretName: sit.iptables.cn

